*.wpo
*.so
*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm

# letloop compile output
a.out
a.out.boot

# locally built Chez Scheme and letloop binary
submodules/letloop/local/

# release.sh output
dist/
bb-*-linux.tar.gz
bb-*-linux.tar.gz.sha256
